footer {
    position: relative;
    box-shadow: -1px -1px 1px rgba(30, 30, 30, .1) !important;
    padding: 1rem 5rem;
}

footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: radial-gradient(ellipse at center, var(--purple) 0%, #4B0082 100%); 
  border-radius: 50% / 100% 100% 0 0; 
  z-index: 1; 
}

/* Opcional: Se o conteúdo do footer for branco ou claro, pode ser necessário um z-index menor para o conteúdo */
footer > * {
  position: relative;
  z-index: 2; /* Garante que o conteúdo do footer fique acima do gradiente */
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media__list {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
}

.footer-icon {
    width: 24px;
}

.footer-list {
    list-style-type: none;
}


.footer-font-size {
    font-size: 1rem;
}
